{% extends "base.html" %}
<link rel="stylesheet" href="/static/script.js" type="text/js">
{% block body %}
 <body>

     <div class="container">

         <form class="form-signin" action="/register" method="post" role="form">
             <h2 class="form-signin-heading">Please Sign Up </h2>
             <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
             <input type="password" name="password" class="form-control" placeholder="Password" required>
             <input type="first_name" name="first_name" class="form-control" placeholder="First Name" required>
             <input type="last_name" name="last_name" class="form-control" placeholder="Last Name" required>

             <button class="button" type="button">Register </button>
         </form>

     </div>

 </body>
{% endblock %}
